/* ———    Committed to success */
.headingcom {
    color: black;
    white-space: pre;
}
.blockquote {
    width: 50rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}
.sec-con-2{
    margin-top: 7rem!important;
}
.img-opacity img{
    opacity: 0.6;
}
.h2, h2 {
    font-size: calc(1rem + .9vw);
  }

