*{
  box-sizing: border-box;
}
:root {
  
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
  /* ———    Committed to success */
  .img img{
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}
  .btn2 {
    background: #ff2143;
    padding: 30px 30px;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    color: #fff;
    font-size: 14 px;
    letter-spacing: 1px;
    line-height: 0;
    transition: color .4s linear;
    border: 0;
}
.h2, h2 {
  font-size: calc(1rem + .9vw);
}
.headingcom{
  white-space: pre;
}
.headinggrow{
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn2:hover{
  color: var(--bs-dark);
}
  /* Our Best Services */
  .list{
    box-sizing: border-box;
  }
  .eye{
    margin-left: 3.1rem!important;
  }
  .brief{
    margin-left: 3.5rem!important;
  }
  .mx-6, .mx-7, .mx-8{
    margin-left: 9rem!important;
  }
  /* //footer */
  .col-4{
    width: 26.333333%!important;
  }
  .offset-1 {
    margin-left: 10.333333%!important;
}
.row-width{
  width: 99.5%!important;
}
.footer_padding-top{
  margin-left: 2rem!important;
  padding-top: 1rem!important;
  padding-bottom: 1.5rem!important;
}
.tcolor{
  color: #c2c2c2;
}
.footer-section{
  margin-left: 2.5rem!important;
}
.signup{
  margin-left: 0%!important;
}
.D-Consulting{
  width: 13rem!important;
}
.form-email{
  background-color: black;
}
.footer-number{
  width: 15rem;
  margin-top: 1.5rem;
}
.num-red{
  color: red;
}
.D-Con-para{
  margin-top: 35px!important;
  width: 13rem;
}
  .footer_color{
    background-color: #2d0000!important;
  }
 .footer-a{
  color: #ff0000!important;
 }
  .footer_width {
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* footer-Responsive-media-query */
  @media (min-width: 1200px){
.footer_width {
    max-width: 100%;
}
  }

  @media (max-width:847px){
    div[style="background-image: url(../static/images/footer.jpg);"]{
  width: 100%;
    }
    .D-Consulting{
      width: 12rem!important;
    }
    .mx-5{
          margin-right: 4rem!important;
    margin-left: 4rem!important;
    }
    .mx-10{
      margin-right: 4rem!important;
    margin-left: 1rem!important;
    }
    .footer_padding-top{
      margin-left: 2rem!important;
      padding-top: 1rem!important;
      padding-bottom: 1.5rem!important;
    }
    .tcolor{
      color: #c2c2c2;
    }
    .footer-section{
      margin-left: 2.5rem!important;
    }
    .signup{
      width: 90%!important;
      margin-left: 2.333333%!important;
    }
    .form-email{
      background-color: black;
    }
    .footer-number{
      width: 12rem;
      margin-top: 1.5rem;
    }
    .num-red{
      color: red;
    }
    .D-Con-para{
      margin-top: 35px!important;
      width: 10rem;
    }
      .footer_color{
        background-color: #2d0000!important;
      }
     .footer-a{
      color: #ff0000!important;
     }
      .footer_width {
        margin-bottom: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      @media (min-width: 1200px){
    .footer_width {
        max-width: 100%;
    }
      }
    
  }
div[style="background-image: url(../static/images/footer.jpg);"]{
  width: 99.5%;
    }
    /* ——–– Our Top Services */
  @media (min-width: 1200px){
.our-top-img-bg {
  padding: 3rem 0 3rem 0;
}
  }
  .sec-con{
    margin-top: 18rem;
  }
  .sec-con2{
    margin-top: 10rem;
  }
  .headserv{
    color: black;
    margin-top: 5rem;
  }
  .text-dark a{
    color: black;
  }
  .containerserv{
    color: white;
    margin-top: 10rem;
  }
  .our-serv{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 2.8rem;
  }
  .our_top{
    font-size: 1.5rem;
    color: red;
  }
  .our_top2{
    font-size: 1.5rem;
    color: white;
  }
  .our-serv-p1{
    letter-spacing: 1px;
  }
  .sec_head a{
    text-decoration: none;
  }
  .sec_head{
    margin-top: 6rem;
  }
  h5{
    margin-top: 40px;
  }
  /* counter */
  .counter_container{
    width: 99%;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .one{
margin-left: 1%;
  }
  /* Are you Searching
For a First-Class Consultant? */
.searching_for h2{
  font-size: 2rem;
  margin-left: 4rem;
  margin-top: 5rem;
  color: white;
  margin-bottom: 5rem;
}
.searching_for-padding{
  margin-bottom: 8rem!important;
}
/* header  */
  .header-top{
    background-color: #113356;
    margin-top: 0.3px;
    display: flex!important;
    flex-basis: auto;
  }
  .clock{
    margin-right: 8px;
    filter: hue-rotate(634deg);
    margin-left: 20px;
    padding-top: 12px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  .time{
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    white-space: break-spaces;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: var(--bs-white);
    }
    .icons a img{
      float: right;
      margin-left: 20px;
      padding-top: 14px;
      margin-bottom: 13px;
      align-items: center;
      justify-content: center;
    }
  /* ——–– OUR PORTFOLIOS OF CASES */
  /* Featured Case Study */
  .carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
  .btn-outline-success:hover{
    background-color: var(--bs-purple);
  }